/*Estilos para los toles de los usuarios*/

.btn-add{
    width: 18.5%;
}

.search-bar{
    max-width: 376px;
}


.rol-admin{
    max-width: 130px;
    background-color: rgba(10, 54, 157, 0.18);
    border-radius: 4px;
    color: #0A369D;
}

.rol-apoyo{
    max-width: 130px;
    background-color: rgba(138, 79, 255, 0.15);
    border-radius: 4px;
    color: #8a4fff;
}
